---
const config = {
  id: "hs-toggle-between-modals-login-modal", // Modal IDENTIFIER
  title: "Sign in", // Main HEADING
  subTitle: "Don't have an account yet?", // Sub-Heading TEXT
  registerBtn: "Sign up here", // Text for REGISTRATION BUTTON
  registerBtnDataHS: "#hs-toggle-between-modals-register-modal", // TARGET LINK for registration button
};
---

<div id={config.id} class="hs-overlay absolute start-0 top-0 z-50 hidden h-full w-full hs-overlay-backdrop-open:bg-neutral-00/90">
    <div
      class="m-3 mt-0 opacity-0 transition-all ease-out hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 sm:mx-auto sm:w-full sm:max-w-lg"
    >
      <div class="mx-auto w-full max-w-md p-6">
        <div
          class="mt-7 rounded-xl border border-neutral-200 bg-neutral-100 shadow-sm dark:border-neutral-700 dark:bg-neutral-800"
        >
          <div class="p-4 sm:p-7">
            <div class="text-center">
              <h2
                class="block text-2xl font-bold text-neutral-800 dark:text-neutral-200"
              >
                {config.title}
              </h2>
              <p class="mt-2 text-sm text-neutral-600 dark:text-neutral-400">
                {config.subTitle}
                
              </p>
            
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>